<html lan="cn" xmlns="http://www.w3.org/1999/xhtml">
	<head>
		<meta http-equiv="content-type" content="text/html;charset=utf-8" />
		<link rel="stylesheet" href="https://storage.googleapis.com/code.getmdl.io/1.0.5/material.blue-pink.min.css" />
		<script src="https://storage.googleapis.com/code.getmdl.io/1.0.5/material.min.js"></script>
		<link rel="stylesheet" href="https://fonts.googleapis.com/icon?family=Material+Icons">
		<link rel="stylesheet" href="/Users/taozeyu/Codes/MyProjects/Web/TaoZeyuBlog/template/styles.css">
	</head>
	<body class="mdl-color--grey-100 mdl-color-text--grey-700 mdl-base">
    
    <header class="mdl-layout--fixed-header">
      <dive class="mdl-layout__header mdl-layout__header--waterfall mdl-layout--fixed-header">
        <div class="mdl-layout__header-row">
          <span class="mdl-layout-title">
            TaoZeyu's Blog
          </span>
          <!-- Add spacer, to align navigation to the right in desktop -->
          <div class="mdl-layout-spacer"></div>
          <!-- Navigation -->
            <nav class="mdl-navigation">
              <a class="mdl-navigation__link" href="">Phones</a>
              <a class="mdl-navigation__link" href="">Tablets</a>
              <a class="mdl-navigation__link" href="">Watches</a>
            </nav>
        </div>
      </dive>
    </header>
      
    <main class="mdl-layout__content">
	    <%~ yield %>
    </main>
    
	</body>
</html>