<html lan="cn" xmlns="http://www.w3.org/1999/xhtml">
	<head>
		<meta http-equiv="content-type" content="text/html;charset=utf-8" />
		<link rel="stylesheet" href="https://storage.googleapis.com/code.getmdl.io/1.0.5/material.blue-pink.min.css" />
		<script src="https://storage.googleapis.com/code.getmdl.io/1.0.5/material.min.js"></script>
		<link rel="stylesheet" href="https://fonts.googleapis.com/icon?family=Material+Icons">
		<link rel="stylesheet" href="/styles.css">
	</head>
	<body class="mdl-color--grey-100 mdl-color-text--grey-700 mdl-base">
    
    <header class="tzy-header">
        <span class="tzy-header__title">
            <a href="/">TaoZeyu's Blog</a>
        </span>
        <div class="tzy-header__elements">
        <% var nodes = R.config("/nodes"); %>
          <nav>
              <% for (var nodeName in nodes) { %>
              <a href="/nodes/<%= nodes[nodeName] %>.html">
                <%= nodeName %>
              </a>
              <% } %>
          </nav>
        </div>
        <div style="clear: both;"/>
    </header>
      
    <main class="tzy-content">
	    <%~ yield %>
    </main>
    
	</body>
</html>
