<div class="mdl-grid personal-card mdl-card mdl-shadow--2dp">
    <div class="my-icon"></div>
	<div class="my-intro">
		<div class="mdl-card__title">
			<h2 class="mdl-card__title-text">moskize</h2>
			</div>
			<div class="mdl-card__supporting-text">
				Hi，这里是 moskize 的博客。我会定期添加一些有趣的东西上去。
            </div>
		</div>
</div>

<div class="details">
    <%  var pagesParams = {
            currentPage :0,
            className : "mdl-button mdl-js-button",
        };
        var pages = R.dir("/articles").allPages();
    %>

	<% for each(var page in pages.subArrayOnPage(pagesParams)) { %>
    
	<div class="mdl-card mdl-cell mdl-cell--12-col mdl-shadow--2dp">
    	<div class="mdl-card__supporting-text">
        	<h4><%= page.getName() %></h4>
			<%= page.getAbstractContent() %>
    	</div>
		<div class="mdl-card__actions">
            <% Log.i(page.getPath()) %>
    		<a href="/<%= page.getPath() %>.html" class="mdl-button">阅读这篇文章</a>
    	</div>
	</div>
	
	<% } %>
		<div class="pages mdl-cell mdl-cell--12-col mdl-shadow--2dp">
    	<nav class="mdl-navigation"><% pages.pagesConstructor(pagesParams); %></nav>
	</div>
	
</div>
