<%  var currentPage = parseInt(params);

    var pages = R.dir("/articles").allPages();
    if (session.node) {
        pages = pages.filter(function(page) {
        	var node = page.get("node");
        	if (!node) {
	        	var groupIndex = R.dir(page.getParent()).page("index");
	        		
	        	if (groupIndex && groupIndex.get("group") == "index") {
	        		node = groupIndex.get("node");
	        	}
        	}
        	return node == session.node;
        });
    }
    pages = pages.filter(function(page) {
    	return page.get("visible") != "false";
    });
%>

<div class="tzy-details card">

    <%  var pagesParams = {
            currentPage : currentPage,
            className : "mdl-button mdl-js-button",
            hrefGenerator : function(page) {
                if (page == 0 && !session.node) {
                    return "/";
                } else {
                    var arr = [];
                    if (session.node) {
                        arr.push("nodes", session.node);
                    }
                    arr.push("page", page);
                    return "/"+ arr.join("/")+ ".html";
                }
            },
        };
    %>
    
    <% if(!session.hideNodeTitle) { 
        var nodes = R.config("/nodes");
        var nodeName = "全部文章";
        for (var key in nodes) {
            if (nodes[key] == session.node) {
                nodeName = key;
                break;
            }
        }
    %>
    <div class="tzy-details__footer">
    	<a href="/">首页</a>
    	&raquo; <%= nodeName %>
	</div>
    <% } %>
    
    <% for each(var page in pages.subArrayOnPage(pagesParams)) { %>
    <HR/>
    <div class="tzy-details__article">
    	<h4><a href="<%= page.getPath().substr('/articles'.length) %>.html"><%= page.get("title") %></a></h4>
		<%= page.getAbstractContent(200) %>
	</div>
	<% } %>
        <nav class="tzy-details__pages"><% pages.pagesConstructor(pagesParams); %></nav>
</div>
