[submodule "Calico"]
	path = Calico
	url = git@github.com:Moskize91/Calico.git

[submodule "resource"]
	path = resource
	url = git@github.com:TaozeyuBlog/TaozeyuBlogResource.git

[submodule "BlogContent"]
	path = BlogContent
	url = git@github.com:Moskize91/Moskize91.github.io.git
