<header id="masthead" role="banner" class="site-head site-header" >
    <nav id="site-navigation" class="main-navigation" role="navigation">
        <div class="menu-main-container">
            <ul>
            <li>
                <a href="http://lacymorrow.com/projects/casper">技术</a>
            </li>
            <li>
                <a href="https://github.com/lacymorrow/casper-wp">杂谈</a>
            </li>
            </ul>
        </div>
    </nav>

    <div class="vertical-row">
        <div class="vertical">
            <h1 class="blog-title"><a class="blog-logo" href='http://taozeyu.com' rel='home'>moskize</a></h1>
                <h2 class="blog-description">七牛云存储 iOS 开发工程师</h2>
            </div>
        </div>
        <div class="site-head-content">
            <div class="social-icons">
                <a class="icon-home" target="_blank" href="http://lacymorrow.com">
                        <span>Home</span>
                </a>
                <a class="icon-envelope" target="_blank" href="mailto:xiangtantaozeyu@gmail.com">
                        <span>Email</span>
                </a>
                <a class="icon-github-alt" target="_blank" href="https://github.com/moskize91/">
                        <span>GitHub</span>
                </a>
        </div>
    </div>
</header>

<main class="content" role="main">
	
<article class="post type-post status-publish format-standard hentry category-casper tag-test-tag">
		    <header class="post-header">
        		<span class="post-meta">
			    <time class="entry-date published"      
                      datetime="2014-03-21T20:50:24+00:00">2015-07-31 08:29:32</time>
				</span>
		        <h1 class="post-title"><a href="http://lacymorrow.com/projects/casper/?p=1" rel="bookmark">远程工作：我们把 iOS 的 Cocoa Touch 移植到了 Android</a></h1>
         
    </header>
	<section class="post-content">
<p>这是我最近一年在做的项目，用我们老大 tiny 的话说，就是“能不能弄一个东西，让我的 iOS 程序一行代码不用改，却能运行在 Android 上”。为了这个目标，我们最后弄出了个这样的东西。 说起来我们之所以要做这个东西也是蛮有趣的。事情的起因，我们需要把一个为 iOS 写的排版引擎移植到 Android 上。但我们觉得这个排版引擎实在是太复杂了，而且把一个写好的 iOS 程序重新写个<a href="http://lacymorrow.com/projects/casper/?p=1#more-1" class="more-link">...&nbsp;<span class="meta-nav">→</span></a></p>
	    		<div class="clear">&nbsp;</div>
	</section>
</article><!-- #post-## -->
			
				
<article class="post type-post status-publish format-standard hentry category-casper tag-test-tag">
		    <header class="post-header">
        		<span class="post-meta">
			    <time class="entry-date published"      
                      datetime="2014-03-21T20:50:24+00:00">2015-07-31 08:29:32</time>
				</span>
		        <h1 class="post-title"><a href="http://lacymorrow.com/projects/casper/?p=1" rel="bookmark">你说你会记账？能搞清楚你口袋里的每一颗硬币都花哪儿了吗？</a></h1>
         
    </header>
	<section class="post-content">
<p>好吧，你们多少人有记账的习惯？我说的是无事巨细记录下每一笔开支哦。就是说，你要记下你在超市买一瓶绿茶是 2.90 元，而不能大概记下绿茶是 3 元。 然后你说这太麻烦了吧，我可没这耐性，我只把月底的银行卡余额减去月初的就能算出收支了。 那也行。不过如果你恰好是跟我一样，必须记下自己的每一项开支的这种类型呢？ 据我观察，人们之所以很难保持无事巨细地记账的习惯，是因为从产生开支的行为，到把开支具<a href="http://lacymorrow.com/projects/casper/?p=1#more-1" class="more-link">...&nbsp;<span class="meta-nav">→</span></a></p>
	    		<div class="clear">&nbsp;</div>
	</section>
</article><!-- #post-## -->
			
	<nav class="pagination navigation paging-navigation" role="navigation">
		<div class="nav-links">
			<div class="older-posts">
                <a href="http://lacymorrow.com/projects/casper/?paged=2">
                    Older Posts <span class="meta-nav">→</span>
                </a>
            </div>
		    <div class="page-number">Page 1 of 2</div>	
		</div><!-- .nav-links -->
	</nav><!-- .navigation -->

	<div class="widget-area" role="complementary">
		<div class="clear">&nbsp;</div>
	</div><!-- #secondary -->
    
	<footer id="colophon" class="site-footer" role="contentinfo">
		<div class="site-info inner">
		    <section class="copyright">
		    	Copyright©2014-2016, Tao Zeyu, All Rights Reserved		    
            </section>
		</div><!-- .site-info -->
	</footer><!-- #colophon -->
    
</main>